@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-size: 200%;
	text-align: center;
	font-family: Libre Baskerville;
}

p {
	font-weight: normal;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	text-align: left;
}

pre {
	text-align: left;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

tt {
	font-size: 125;
}

ul {
	list-style-position: inside;
}

li {
	font-family: serif;
	font-weight: normal;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	padding-left: 0.3em;
	line-height: 1.8em;
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
}

.step.center_text p {
	text-align: center;
}

.impress-enabled .step {
	margin: 0;
	opacity: 0; /* hide when not active */

	-webkit-transition: opacity 1s 0.5s;
	-moz-transition:    opacity 1s 0.5s;
	-ms-transition:     opacity 1s 0.5s;
	-o-transition:      opacity 1s 0.5s;
	transition:         opacity 1s 0.5s;
}

.impress-enabled .step.always {
	opacity: 1;
}

.impress-enabled .step.active {
	opacity: 1;
}

.hidden {
	display: none;
}

.step img.roadmap {
	width: 100%;
}

#console .header, #console .footer {
	display: none;
}

.header img {
	opacity: 0.2;
	width: 25%;
	position: absolute;
	left: 0;
}

.footer {
	position: absolute;
	bottom: 2%;
	left: 2%;
	right: 2%;
	font-size: 1.5vw;

}

.footer img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30%;
}
